@page "/employeeTurnstileMovement"
@using EmpMovementTracker.DTOs
@using EmpMovementTracker.Services
@inject EmployeeMovementService EmployeeMovementService
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<!-- Page Title-->
<h2 class="mt-4 mb-4 fw-bold">Present Employee Movement</h2>
