<MudDialog>
    <TitleContent></TitleContent>
    <DialogContent>
        <MudStack Spacing="1" AlignItems="AlignItems.Center">
            <div class="pa-2 rounded-circle" style="@($"background:{Colors.Red.Lighten4}")">
                <MudIcon Icon="@Icons.Material.Rounded.Warning" Color="Color.Error" Size="Size.Large" />
            </div>
            <MudText Typo="Typo.h6">@MudDialog.Title</MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">@ContentText</MudText>
        </MudStack>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Error" Variant="Variant.Filled" DropShadow="false" OnClick="Submit">Delete</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public string ContentText { get; set; } = null!;

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));
    private void Cancel() => MudDialog.Cancel();
}